#include "debug.hpp"
#define debug(...)                                                             \
  std::cerr << "[" << #__VA_ARGS__ << "]:",                                 \
      debug::debug_out(std::cerr, __VA_ARGS__)

#include "%TaskFile%"
