#include <vector>
#include "test_runner.h"

std::vector<jhelper::Test> tests{%Tests%};

int main() {
#ifndef SOLUTION_EXE
  std::cerr << "SOLUTION EXE PATH NOT DEFINED!";
  return 0;
#endif
  jhelper::run_all_tests(jhelper::TestType::%TestType%);
  return 0;
}
