#include "debug.hpp"
#include "%TaskFile%"
class %ClassName% {
 public:
  static void solve(istream &, ostream &) { ::solve(); }
};

#include "tester.h"
std::vector<jhelper::Test> tests{%Tests%};
#define in std::cin
#define out std::cout
void solver_call() {
  %ClassName% solver;
  %SolverCall%
}

int main() {
  jhelper::test_runner();
  return 0;
}
