#include "tester.h"
#include "debug.hpp"
#include "%TaskFile%"

std::vector<jhelper::Test> tests{%Tests%};
#define in std::cin
#define out std::cout
void solver_call() {
  %ClassName% solver;
  %SolverCall%
}

int main() {
  jhelper::test_runner();
  return 0;
}
