#if not defined LOCAL and not defined NDEBUG
#define NDEBUG
#endif
%Code%
#include <iostream>

int main() {
#if defined FILE_IO and not defined LOCAL
  freopen(FILE_IO ".in", "r", stdin);
  freopen(FILE_IO ".out", "w", stdout);
#endif

  std::cin.tie(nullptr);
  std::ios::sync_with_stdio(false);
  std::cout.precision(10);
  std::cout << std::fixed;

  %SolverCall%
  return 0;
}
