extern constexpr bool show_all_failed_tests = false;
#include <utils.hpp>

void solve() {}
/*
 * Make sure that your laptop is plugged in or the build may be slow.
 *
 * Don't settle for a solution if it feels too clunky, take a moment and see if
 * you can make it simpler.
 */
