extern const bool show_all_failed_tests = false;
extern const bool compare_real_numbers = false;
//#define INTERACTIVE_MODE //对于交互题，取消此行注释。
#include <alias.hpp>
#include <utils.hpp>

using namespace io;
using namespace std;

void solve() {}
